#posts-list{
  width: 100%;
  > .post{
    /* first post */
    &:first-child{
      width: 100%;
      text-align: center;
      margin-top: 10px;
      .flex-box{
        text-align: left;
        width: 75%;
        height: auto;
        margin: 10px auto 0 auto;
        float:none;
        background-color: #fff;
        padding:0;
        border-bottom: 1px solid #ccc;
        display: block;
        .post-title {
          padding:0;
          font-size: 1.25em;
          background-color: transparent;
          margin:0 0 10px 0;
          a{
            position: relative;
            padding:0;
            color: #990000;
          }
        }
        .author-info p, .post-excerpt p, .view-more{
          margin:0;
          padding:10px 0 0 0;
        }
      }
    }


    /* final */


    width: 100%;
    text-align: center;
    .flex-box{
      text-align: left;
      width: 75%;
      height: auto;
      margin: 40px auto 0 auto;
      float:none;
      border-bottom: 1px solid #ccc;
    }
  }
}

.full-post-header {
  .post-title {
    font-size: em(28px);
    line-height: normal;
    margin-bottom: 10px;
  }
}

#post-content {
  margin-top: 0;

  .container {
    padding: 40px 10px 25px;
  }

  p img{
    max-width: 100%;
  }
  p img.emoji{
    max-width: auto;
    margin: auto;
    display: inline;
    height: auto;
    background: none;
    padding: 0;
    border: 0;
  }

  blockquote {
    margin: 20px 0;
  }
}
