---
layout: default
title: HE:labs
description: 'HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.'
---

<div id="static-background">
  <div id="static-image"></div>
</div>

<section id="posts-list">

  {% for post in paginator.posts %}

  <article class="post">
    <div class="flex-box">
      <header class="post-header">
        <h1 class="post-title">
          <a href="/blog{{ post.url }}" title="{{post.title}}">
            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
          </a>
        </h1>
        {% if post.author %}
          {% assign author = post.author %}
        {% elsif page.author %}
          {% assign author = page.author %}
        {% else %}
          {% assign author = site.author %}
        {% endif %}
        {% if author %}
          <div class="author-info">
            <p>
              Postado por <span><a class="author-link">{{ author }}</a></span> em <span>{{ post.date | date: "%d/%m/%Y" }}</span>
            </p>
          </div>
        {% endif %}
      </header>

      <div class="post-excerpt">
        {% if post == site.posts.first %}
          {{ post.excerpt | strip_html | truncate: 280 }}
        {% else %}
          {{ post.excerpt | strip_html | truncate: 150 }}
        {% endif %}
      </div>
      <div class="tags2">
        {% for category in post.categories %}
          <a href="/blog/tags/#{{category}}">{{category}}</a>
        {% endfor %}
      </div>
      <ul>
        <li class="view-more">
          <a href="/blog{{ post.url }}" title="Ler post inteiro">Ler mais...</a>
        </li>
      </ul>


    </div>
  </article>

  {% endfor %}

</section> <!-- /posts-list -->
