---
layout: default
title: HE:labs
description: 'HE:labs é uma empresa pioneira em desenvolvimento de sistemas web, aplicativos web, SaaS e Cloud Computing.'
---

<div id="static-background">
  <div id="static-image"></div>
</div>

<section id="posts-list">
  {% for post in paginator.posts %}
  <article class="post">
    <div class="mauros-book">
      <a href="http://www.casadocodigo.com.br/products/livro-rspec"><img src="/blog/images/link-livro.png" alt="Rspec livro"></a>
    </div>
    <div class="flex-box">
      <header class="post-header">
        <h1 class="post-title">
          <a href="/blog{{ post.url }}" title="{{post.title}}">
            {% if site.titlecase %}{{ post.title | titlecase }}{% else %}{{ post.title }}{% endif %}
          </a>
        </h1>
        {% if post.author %}
          {% assign author = post.author %}
          {% assign hide_author_link = post.hide_author_link %}
        {% elsif page.author %}
          {% assign author = page.author %}
          {% assign hide_author_link = page.hide_author_link %}
        {% else %}
          {% assign author = site.author %}
          {% assign hide_author_link = true %}
        {% endif %}
        {% if author %}
          <div class="author-info">
            <p>
              Postado por
              {% if hide_author_link == true %}
                <span>{{ author }}</span>
              {% else %}
                <span><a class="author-link">{{ author }}</a></span>
              {% endif %}
              em <span>{{ post.date | date: "%d/%m/%Y" }}</span>
            </p>
          </div>
        {% endif %}
      </header>

      <div class="post-excerpt">
        {% if post == site.posts.first %}
          {{ post.excerpt | strip_html | truncate: 210 }}
        {% else %}
          {{ post.excerpt | strip_html | truncate: 150 }}
        {% endif %}
      </div>
      <div class="tags2">
        {% for category in post.categories %}
          <a href="/blog/tags/#{{category}}">{{category}}</a>
        {% endfor %}
      </div>
      <ul>
        <li class="view-more">
          <a href="/blog{{ post.url }}" title="Ler post inteiro">Ler mais...</a>
        </li>
      </ul>


    </div>
  </article>

  {% endfor %}

  <div id="pagination">
      <div class="container">

        {% if paginator.next_page %}
          <a class="prev-page" href="/blog/page/{{ paginator.next_page }}" title="Página Anterior">&larr; Mais Antigo</a>
        {% endif %}

        {% if paginator.previous_page %}
          {% if paginator.previous_page == 1 %}
            <a class="next-page" href="/blog/" title="Página Seguinte">Mais recente &rarr;</a>
          {% else %}
            <a class="next-page" href="/blog/page/{{ paginator.previous_page }}" title="Página Seguinte">Mais recente &rarr;</a>
          {% endif %}
        {% endif %}

      </div>
  </div>

</section> <!-- /posts-list -->
