html, body {
   width: 100%;
   overflow-x: hidden;
 }


/*
Max Width, 960px
Media Queries for Tablets
*/

@media (max-width:960px) {
  .container {
    width: 700px;
  }
}

/*
Max Width, 800px
Media Queries for Tablets
*/

@media only screen and (max-width: 800px) {
  #post-content .container, #post-content #page-header{
    width:auto;
  }
  .container{
    width: auto;
  }
  #posts-list{
    .post {
      img {
        width:70%;
      }
      &:first-child {
        .container {
          width: auto;
        }
      }
    }
  }
}


/*
Max Width, 686px
Media Queries for Smartphones
*/

@media only screen and (max-width: 686px) {

  .container {
    width: 90%;
    padding-right: 5%;
    padding-left: 5%;
  }

  #main-header {
    border-bottom: 1px solid #ccc;
    #google-search { display: none; }
    .header-title {
      a { width: 130px; }
    }
  }

  #static-background,
  #static-background.static-background-small {
    padding: 0;
    height: auto;
    #static-image { display: none; }
  }
  .post:first-child {
    margin-top: 0;
    z-index: 10;
    background: none;
  }
  #footer-social-links {
    a { font-size: 20px; }
    .copyright{
      img { display: none; }
    }
  }
  #pagination {
    .prev-page { left: 5%; }
    .next-page { right: 5%; }
  }

  iframe {
    width: 100%;
  }

  .archive-post, .tag-post {
    .container {
      padding: 0;
    }

    .post-date, .post-title, .author-info {
      margin-left: 0;
      float: none;
      display: block;
      clear: both;
    }

    .author-info {
      margin-top: 5px;
    }
  }
}
