%post-header {
  .post-title {
    color: #b72124;
    display: block;
    font-size: em(30px);
    margin-bottom: 10px;
    a { text-decoration: none; }
  }

  .author-info {
    font-size: em(12px);
    margin-bottom: 10px;
    span { font-weight: bold; }
  }
}
