.full-post-header {
  @extend %post-header;
  .post-title {
    font-size: em(44px);
    line-height: 50px;
    margin-bottom: 20px;
    display: block;
    text-decoration: none;
    color: #000;
  }
}

#post-content {
  background: #f6f6f6;
  margin-top: -110px;

  .container {
    background: #fff;
    padding: 40px 30px 25px 30px;
    z-index: 10;
  }

  p img{
    max-width: 80%;
    margin: 0 auto;
    display: block;
    height: auto;
    background: #F8F8F8;
    padding: 10px;
    border: 1px solid #DDD;
  }
  p img.emoji{
    max-width: auto;
    margin: auto;
    display: inline;
    height: auto;
    background: none;
    padding: 0;
    border: 0;
  }

  ol{
    margin-left: 20px;
  }
  li {
    margin-bottom: 8px;
  }

  h2 {
    margin-bottom: 10px;
    font-size: em(25px);
    color: $main-color;
  }

  h3 {
    margin-bottom: 5px;
    font-size: em(19px);
    color: #000;
  }

  #post-text {
    margin-bottom: 20px;
    border-bottom: 1px solid #f6f6f6;
    font-size: em(17px);
    line-height: 29px !important;

    table{
      height:auto;
      width:auto;
      margin:0;
      padding:0;
      color: #666;
      background:#fff;
      border: 1px solid #ccc;
      border-radius: 10px;
      border: collapse;

      -moz-border-radius:5px;
      -webkit-border-radius:5px;
      border-radius:5px;
      tr{
        th{
          background-color: #eaebec;

        }
        td,
        th{
          border: 1px solid #ccc;
          padding: 10px;
          font-size: 12px;
        }
      }
    }

    ul {
      list-style: disc inside;
      margin-bottom: 20px;

      ul {
        margin-left: 20px;
        list-style: square inside;
      }
    }
  }

  blockquote {
    color: #707070;
    font-style: italic;
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
