#main-header {
  width: 100%;
  background: #fff;
  padding: 15px 0 8px 0;
  border-top: 5px solid #b72124;
  position: relative;
  float: left;
}

.header-title {
  width: 140px;
  float: left;
  img {
    width: 140px;
  }
}

#google-search {
  width: 300px;
  position: absolute;
  right: 0; top: -7px;
}
