#pagination {
  padding:0;
  margin: 0 0 40px 0;
  width: 100%;
  height: 20px;
  float:left;
  .container{
    width: 100%;
    text-align: center;
  }

  a {
    color: #777;
    font-size: 12px;

  }

  .history{
    margin: 0 auto 0 auto;
  }

  .prev-page, .next-page {
    margin-top:20px;
  }

  .prev-page {
    float:left;
  }

  .next-page {
    float:right;
  }
}
