#posts-list{
  max-width: 960px;
  margin: 0 auto;
  padding-top:60px;
  display:table;
  .post{
    position: relative;

    .post-header {
      @extend %post-header;
    }

    &:first-child {
      border-bottom: none;
      z-index: 10;
      text-align: left;
      width: 960px;
      margin: 0 auto;
      margin-top: -320px;
      .tags2{
        display:none;
      }
      .flex-box{
        margin:0;
        padding:0;
        width:50%;
        height: auto;
        float: none;
        margin-bottom: 50px;
        background-color: #fff;
      }

      p{
        margin:0;
        padding:0;
      }

      .post-title {
        float:left;
        width:100%;
        top:-40px;
        font-size: em(24px);
        line-height: 30px;
        padding: 10px;
        background-color: #990000; 
        display: initial;
        margin:0 0 10px 0;
        a{ 
          text-decoration: none;
          color: #fff;
          }
      }
      .author-info p, .post-excerpt, .view-more{
        position: relative;
        top: 0px;
        margin: 0px;
        padding: 0 20px 0 15px;
     
      }
      .post-excerpt p, .view-more{
        line-height: 24px;
        font-size: 16px;
      }


      .author-info p{
        font-size: 12px;
        line-height: 14px;
      }
    }

    ul {
      margin: 8px 0 0 0;
      padding: 0;

      li {
        display: inline;
        margin-right: 20px;
        font-size: em(15px);
        a { text-decoration: none; }

        &.view-more {
          a {
            line-height: 33px;
            background: #fff;
            &:hover {
              border-color: #ccc;
              opacity: 1;
            }
          }
        }
      }
    }
    .flex-box{ 
      width: 30%;
      height: 340px;
      margin: 10px 40px 0 0;
      float:left;
      display: inline-block;
      padding-bottom: 10px;
      border-bottom: 1px solid #ccc;

      .tags2{
        padding:0;
      }
    }

    &:nth-child(3n+1){
      .flex-box{
        margin-right: 0;
      }
    }

    .post-excerpt {
      font-size: em(17px);
      line-height: 24px;

      p img {
        display: none;
      }
    }
  }
}

#post-sharing {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 30px;

  iframe, #___plusone_0, .fb-like {
    float: left !important;
  }

  .fb-like {
    margin-right: 25px;
  }
}

#disqus_thread {
  margin-top: 50px;
}
